@page "/rooms/{url:Guid}"
@using System.Security.Claims
@model RoomModel
@{
    var userClaim = User.FindFirst(ClaimTypes.Email)?.Value;
}
<head>
    <link rel="stylesheet" href="~/css/room.css">
    <title>@Model.Room?.Adm?.Name room</title>
</head>
<span class="back">
    <a href="/rooms">Back</a>
</span>

<ul>
    @if (Model.Messages?.Count != 0)
    {
        @foreach (var m in Model.Messages)
        {
            <li>
                <div class="message-box @(m.User.Email == userClaim ? "user-message" : (m.UserId == Model.Room.AdmId ? "admin-message" : ""))">
                    <span class="who">@(m.User.Email == userClaim ? "Your Message" : m.User.Name)</span>
                    <p class="content">@Html.Raw(m.Content)</p>
                </div>
            </li>
        }
    }
    else
    {
        <span class="nonemessage">None message were posted</span>
    }
</ul>

<form method="post">
    <div class="input-chat">
        <input type="text" placeholder="Type your message" name="message" required>
        <input type="submit" value="Submit">
        @Html.Hidden("uuid", Model.Room.Id)
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        var header = document.querySelector("header");
        var footer = document.querySelector("footer");

        if (header) {
            header.remove();
        };

        if (footer) {
            footer.remove();
        };
    });
</script>
