@page "/rooms"
@model RoomsListModel
@{
    ViewData["Title"] = "Rooms";
}
<link rel="stylesheet" href="~/css/roomslist.css">

<div class="panel-rooms">
    <a class="btn btn-success" href="/rooms/create">
        Create a room
    </a>
    <div class="search-rooms">
        <input type="text" placeholder="Search rooms">
    </div>
</div>

<hr>

<h1>Rooms:</h1>

<ul>
    @if (Model.Rooms.Count != 0)
    {
        @foreach (var r in Model.Rooms)
        {
            <li>
                <div class="@(r.AdmId == Model.Owner.Id? "youroom" : "room")">
                    <h1>@r.Name 
                        @* Trocar msg do span por um icone de edição *@
                        <span class="who">@(r.AdmId == Model.Owner.Id ? "sua sala" : $"sala de {r.Adm.Name}")</span>
                    </h1>
                    <div class="info-room">
                        <p class="description">@r.Description</p>
                        <div class="other-info">
                            <span class="date">@r.CreateDate</span>
                        </div>
                    </div>
                    <div class="enter">
                        @if(r.AdmId == Model.Owner.Id || r.Users.Any(u => u.Id == Model.Owner.Id))
                        {
                            <a class="btn btn-success" href="~/rooms/@r.Id">Enter room</a>
                        }
                        else
                        {
                            <form method="post">
                                @if (r.IsPrivate)
                                {
                                    <input type="password" placeholder="Type the password room" required name="password">
                                    <input type="submit" value="Submit" required class="btn btn-success">
                                    if (TempData["ErrorMessage"] != null)
                                    {
                                        <span class="text-danger">@TempData["ErrorMessage"]</span>
                                    }
                                }
                                else
                                {
                                    <input type="submit" value="Join the room">
                                    @Html.Hidden("password", "")
                                }
                                @Html.Hidden("uuid", r.Id)
                                
                            </form>
                        }
                        @if (r.IsPrivate)
                        {
                            if (r.Users.Any(u => u.Id == Model.Owner.Id))
                            {
                               <span class="private"><i class="fa-solid fa-unlock"></i></span> 
                            }
                            else
                            {
                                <span class="private"><i class="fa-solid fa-lock"></i></span> 
                            }
                        }
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <span class="text-danger">
            there are no rooms here!!
        </span>
    }
</ul>
